<footer>
    <div class="f-info">
        <!-- Social Icons -->
        <div class="f-info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>

        <!-- Links -->
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>

        <!-- Copyright -->
        <div class="copyright">
            <p>&copy; 2025 airbase. All rights reserved.</p>
        </div>
    </div>
</footer>