<% layout('layouts/boilerplate') %>

<div class="form-container">
  <h3 class="mb-4 text-center">Create a New Listing</h3>
  <form method="POST" action="/listings" enctype="multipart/form-data">
    
    <!-- Title -->
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input name="listing[title]" type="text" class="form-control" id="title" placeholder="Enter title" required />
    </div>

    <!-- Description -->
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea name="listing[description]" class="form-control" id="description" rows="4" placeholder="Enter description" required></textarea>
    </div>

    <!-- Image URL -->
    <div class="mb-3">
      <label for="image" class="form-label">Upload image</label>
      <input name="listing[image]" type="file" class="form-control" id="image"  />
    </div>

    <!-- Price -->
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input name="listing[price]" type="number" class="form-control" id="price" placeholder="Enter price" />
    </div>

    <!-- Country -->
    <div class="mb-3">
      <label for="country" class="form-label">Country</label>
      <input name="listing[country]" type="text" class="form-control" id="country" placeholder="Enter country" />
    </div>

    <!-- Location -->
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input name="listing[location]" type="text" class="form-control" id="location" placeholder="Enter location" />
    </div>

    <!-- Submit Button -->
    <div class="d-grid">
      <button type="submit" class="btn btn-submit">Add Listing</button>
    </div>
  </form>
</div>